body {
    background-color: orange;
}
.navigation {
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    left:70%;
    display:flex;
    top:70px;
}
.heading {
    background-color: rgb(168, 109, 0);
    text-decoration: none;
    padding-bottom:100px;
    display:flex;
    align-items:center;
    border:4px solid black;
}
a {
    text-decoration: none;
    color:rgb(41, 38, 38);
    font-size: 2em;
    padding-right:5px;
    padding-left: 5px;
}
#logo {
    position:relative;
    left:15%;
    top:40px;
    border:5px solid rgba(0, 0, 0, 0.671);
}
#homeFood {
    width:1250px;
    margin-top: 30px;
    margin-right:40px;
    border:4px solid black;
}
#recipe {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    border:4px solid black;
    margin-top:15px;
}
.steak {
    height:100%;
    width:60%;
    margin-left:40px;
    margin-right: 10px;
    margin-top:40px;
    margin-bottom: 15px;
    border:4px solid black;
}
#vid {
    display: flex;
    width:auto;
    justify-content: center;
    margin-top: 30px;
}
#mainSite {
    display:flex;
    justify-content: center;
    padding-right: 40px;
    padding-left:40px;
    margin-top:15px;
    border:4px solid black;
    padding-bottom:15px;
}
.imageGallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(109, 75, 32);
}

.gallerySpacing {
    margin:40px;
    border:4px solid black;
    
}
footer {
    display:flex;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border:4px solid black;
    padding-left:25px;
    padding-right:25px;
}
footer a {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.2em;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}
footer h4 {
    font-size: 1.7em;
    margin-right:55%;
}
iframe {
    border:4px orangered solid;
    width:560px;
    height:315px;
}
.recipeText {
    width:40%;
    border:4px solid black;
    padding:15px;
    margin-left:15px;
}
.heading a, footer a {
    padding-left:5px;
    padding-right:5px;
}
#mainSite div {
    border:4px solid black;
    padding-left:15px;
    padding-right:15px;
    margin-top:15px;
}
.navigation a {
    padding-left:25px;
    padding-right:25px;
}
.imageGallery img {
    overflow:scroll;
    width:40%;
    border:4px solid black;
    margin-top:20px;
}